@import "../variables";
@import "../mixins";

.footer {
  background: $footer-bg;

  &-wrapper {
    padding: 30px 0 10px;
    border-bottom: 1px solid #e8e8e8
  }

  &-menu {
    margin-bottom: 20px;

    .title-2 {
      margin-bottom: 15px
    }

    &__item {
      &:not(:last-of-type) {
        margin-bottom: 8px
      }

      &-link {
        color: $brand-green;
        transition: color $transition, padding-left $transition;

        &:hover {
          padding-left: 10px;
          color: $brand-blue;
          transition: color $transition, padding $transition
        }
      }
    }
  }

  &-bottom {
    padding-top: 12px;
    padding-bottom: 20px;

    &__menu {
      &-item {
        &:first-of-type {
          margin-right: 5px;
          padding-right: 5px;
          border-right: 1px solid $brand-grey
        }
      }
    }
  }

  &-text {
    &--price {
      margin-top: 20px;

      @include font(12px, 400, 14px, $brand-brown);
    }

    &--copywrite {
      margin-bottom: 10px;

      @include font(13px, 400, 15px, $brand-brown-light);
    }
  }
}
